<input type="text" value="255" class="dial red">
<input type="text" value="255" class="dial green">
<input type="text" value="255" class="dial blue">
<div class="container mt-5">
  <h1 class="colorName">RGB(75, 75, 75)</h1>
  <div class="result-color mx-auto mt-2">

  </div>
</div>
