// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result-color {
  height: 300px;
  width: 670px;
  background: white;
}
